{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    {% if tree.id is defined %}
        <a id="getTreeLink" href="{{ path('post_json', { id: tree.id }) }}"></a>
        <div class="tree-container"></div>
    {% endif %}
{% endblock %}
