<div class="jumbotron home-player">
    <div class="container">
        <h1>Ecriture collaborative</h1>
        <p>Bienvenue sur notre platedorme d'écriture collaborative</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Commencer<span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
</div>
