<div class="jumbotron user-cover">
    {% if cover is not null %}
        <img class="img-responsive" src="{{ asset(cover, 'cover') }}" alt="{{ alt }}">
    {% else %}
        <img class="img-responsive" src="{{ asset('cover.jpg', 'default') }}" alt="{{ alt }}">
    {% endif %}
</div>
