.navbar {
    .navbar-brand {
        height: auto;
        padding: 0;
    }

    .nav {
        margin-top: 0;
    }

    li > a {
        height: 60px;
        line-height: 60px;
        padding: 0 2em;
    }
}
