.navbar {
    margin: 0;
    box-shadow: none;
    border: none;

    .navbar-brand {
        height: auto;
        padding: 0;
        margin: 0!important;
    }

    .nav {
        margin-top: 0;
    }

    .navbar-left {
        li > a {
            height: 60px;
            line-height: 60px;
            padding: 0 2em;
        }
    }
}
