.navbar {
    background: #fff;
    margin: 0;
    box-shadow: none;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;

    .navbar-brand {
        height: auto;
        margin: 0!important;
        padding: 0;
        img {
            padding: 10px;
        }
    }

    .nav {
        margin-top: 0;
    }

    .navbar-left {
        li {
            border-left: 1px solid #eee;

            &:first-child {
                border: none;
            }
            &:hover {
                background: #e7e7e7;
            }

            > a {
                color: #3e4149;
                height: 60px;
                line-height: 30px;
                font-size: 12px;
                font-weight: 500;

                &:active {
                    color: #3e4149;
                }
            }
        }
    }
}
