/*####################################
# ==Players
####################################*/
.jumbotron.default {
    background: url('../media/frontend/default-header.jpg') center center;
    background-size: cover;
    min-height: 236px;
    position: relative;
}

.user-cover {
    position: relative;
    max-height: 264px;
    padding: 0;
    overflow: hidden;

    .user-cover {
        height: auto;

        img {
            min-width: 100%;
        }
    }
}

.home-player {
    background: url('../media/frontend/home-header.jpg') center center;
    background-size: cover;
}
