/*####################################
# ==Players
####################################*/
.jumbotron {
    background: url('../media/frontend/default-header.jpg')#4d5479 center center;
    background-size: cover;
    position: relative;
    min-height: 264px;
}

.user-cover {
    max-height: 264px;
    padding: 0;
    overflow: hidden;
    height: auto;
    min-height: initial;

    img {
        min-width: 100%;
    }
}

.home-player {
    background: url('../media/frontend/home-header.jpg') center center;
    background-size: cover;
    color: #fff;
    padding: 4.5em 15px;

    h1 {
        margin-bottom: .7em;
    }

    p {
        text-transform: uppercase;
        margin-bottom: 1.7em;
    }
}
