.user-register {

    form {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -60px;
            width: 5px;
            background-color: #ccc;
        }
    }
}