// Fonts
$icon-font-path: '../font/';

// Colors
$dark-blue: #2c3e50;
$main-blue: #1f285a;

// Vendor
@import "_bootstrap";
@import "_responsive_text_center";

// Frontend
@import "_cooltree";
@import "_navbar";
@import "_footer";
@import "_player";
@import "_post";
@import "_user_box";
@import "_post_box";
@import "_homepage";
@import "main";
