/*####################################
# ==Typo
####################################*/
body {
    font-family: 'Droid Serif', serif;
    line-height: 1.5;
}

/*####################################
# ==Typo
####################################*/
.h3{
    &.bubble {
        position: relative;
        font-size: 20px;
        margin-bottom: 2em;
        margin-top: 2em;

    span {
        background-color: #4d5479;
        border-radius: 25px;
        color: #fff;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 19px;
        font-weight: bold;
        height: 50px;
        left: -82px;
        line-height: 2.6;
        position: absolute;
        text-align: center;
        top: -10px;
        width: 50px;

        &.last {
            top: -90px;
        }
    }
  }
}

/*####################################
# ==Images
####################################*/
.img-responsive {
    min-width: 100%;
}

/*####################################
# ==Containers
####################################*/
.container {
  max-width: $container-width;
}
section {
  padding-bottom: 1.5em;
}

/*####################################
# ==Fixs
####################################*/

// forms
.form-control {
    height: auto;
}
input[type=file] {
    max-width: 100%;
}

.btn {
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 97%;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }
}

// BreadCrumb
.breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: #a2a2a2;

  a {
    color: #a2a2a2;
    font-style: italic;
  }

  > li {

    + li:before {
      content: ""; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0;
    }
  }
}

// Panels
.panel-default {
  border-radius: 0;
}

// PLayer
.jumbotron {
  margin-bottom: 0;
}

/*####################################
# ==Custom Classes
####################################*/
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: $container-width;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.vertical-absolute-center {
    position: absolute;
    top: 50%;
    max-width: 1200px;

    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}