/*####################################
# ==Typo
####################################*/
body {
    font-family: 'Droid Serif', serif;
}

/*####################################
# ==Images
####################################*/
.img-responsive {
    min-width: 100%;
}

/*####################################
# ==Containers
####################################*/
section {
  padding-bottom: 1.5em;
}

/*####################################
# ==Fixs
####################################*/

// forms
.form-control {
    height: auto;
}
input[type=file] {
    max-width: 100%;
}

// BreadCrumb
.breadcrumb {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  > li {

    + li:before {
      content: ""; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0;
    }
  }
}

// Panels
.panel-default {
  border-radius: 0;
}

// PLayer
.jumbotron {
  margin-bottom: 0;
}

/*####################################
# ==Custom Classes
####################################*/
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1200px;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.vertical-absolute-center {
    position: absolute;
    top: 50%;
    max-width: 1200px;

    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}