<article>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ tree.title }}</h3>
      </div>
      <div class="panel-body">
        {{ tree.content }}
      </div>
      <div class="panel-footer">
        <ul class="list-inline">
          {% for author in tree.getUsers() %}
              <li>{{ author.firstName }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel-footer">
        <button class="btn" type="button">Lire</button>
        <button class="btn" type="button">Participer</button>
      </div>
    </div>
</article>
