{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Confirmation{% endblock %}

{% block player %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default box-letter">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </div>
                <div class="panel-body">
                    Merci de votre participation
                </div>
            </div>
        </div>
    </div>
{% endblock %}
