{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Tree{% endblock %}
{% block body %}
    {% if tree.id is defined %}
        <a id="getTreeLink" href="{{ path('post_tree_json', { slug: tree.slug }) }}"></a>
        <div class="tree-container"></div>
    {% endif %}
{% endblock %}
